# Sets in Python

### Sets
A set is a unique collection of objects in Python. You can denote a set with a pair of curly brackets <b>{}</b>. Python will automatically remove duplicate items:

In [4]:
# Create a set 
set1 = {'gujarat','punjab',35,'$',75.5,'rat',35,'gujarat'}
set1

{'$', 35, 75.5, 'gujarat', 'punjab', 'rat'}

In [5]:
# Convert List to set
l= [95,43.71,64,'cap',43,71]
s=set(l)
s

{43, 43.71, 64, 71, 95, 'cap'}

In [10]:
# Add element to set
a={34,'bucket','water',67,56,100.5}
a.add('x')
a

{100.5, 34, 56, 67, 'bucket', 'water', 'x'}

In [11]:
a.add('x')
a

{100.5, 34, 56, 67, 'bucket', 'water', 'x'}

In [12]:
# Remove an element
a.remove('bucket')
a

{100.5, 34, 56, 67, 'water', 'x'}

In [13]:
# Verify element in set
'water' in a

True

### Set logic operations
Remember that with sets you can check the difference between sets, as well as the symmetric difference, intersection, and union:

In [14]:
A={34,7,90,8,'ur','gh',45}
B={78,8,'air','sun',16,45}
A,B

({34, 45, 7, 8, 90, 'gh', 'ur'}, {16, 45, 78, 8, 'air', 'sun'})

In [15]:
# Find intersection in two sets
intersection=A&B
intersection

{8, 45}

In [16]:
# Find the difference in setA but not setB
A.difference(B)

{34, 7, 90, 'gh', 'ur'}

In [17]:
B.difference(A)

{16, 78, 'air', 'sun'}

In [18]:
A.intersection(B)

{8, 45}

The union corresponds to all the elements in both sets, which is represented by coloring both circles:

In [19]:
# Find the union of two sets
A.union(B)

{16, 34, 45, 7, 78, 8, 90, 'air', 'gh', 'sun', 'ur'}

And you can check if a set is a superset or subset of another set, respectively, like this:

In [20]:
# Check if superset
set(A).issuperset(B)

False

In [22]:
# Check if Subset
set(B).issubset(A)

False

In [23]:
{34}.issubset(A)

True

In [24]:
A.issuperset('gh')

False