# Loops in Python

In [2]:
# Use the Range
range(5)

range(0, 5)

In [6]:
dates = [1983,1990,1991]
N=len(dates)
for i in range(N):
    print(dates[i])

1983
1990
1991

In [8]:
number=[45,78,78,90,22,0]
N=len(number)
for i in range(N):
    print(number[i])

45
78
78
90
22
0

In [9]:
# Example for loop
for x in range(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [10]:
# Exmaple of for loop, loop through list
for year in dates:
    print(year)

1983
1990
1991

In [14]:
x=[67,9,0,2,9,12,20]
for i in range(0,7):
    print("before x",i,'is',x[i])
    x[i]=100
    print('after x',i,'is',x[i])

before x 0 is 67
after x 0 is 100
before x 1 is 9
after x 1 is 100
before x 2 is 0
after x 2 is 100
before x 3 is 2
after x 3 is 100
before x 4 is 9
after x 4 is 100
before x 5 is 12
after x 5 is 100
before x 6 is 20
after x 6 is 100

In [15]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

In [16]:
# Loop through the list and iterate on both index and element value

squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

In [17]:
x=[67,9,0,2,9,12,20]
for i,x in enumerate(x):
    print(i,x)

0 67
1 9
2 0
3 2
4 9
5 12
6 20

### while in loop

In [18]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]

while(year != 1973):    
    print(year)
    i = i + 1
    year = dates[i]
    

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
It took  2 repetitions to get out of loop.

In [4]:
city=["darbhanga","Katihar","Purnia","Araria","Patna"]
i=0
town=city[0]
while(town!="Araria"):
    print(town)
    i=i+2
    town=city[i+2]

darbhanga
Patna

IndexError: list index out of range