# Tuples in Python

#### Tuples

In [ ]:
In Python, there are different data types: string, integer, and float. These data types can all be contained in a tuple as follows:

### Indexing

Each element of a tuple can be accessed via an index. The following table represents the relationship between the index and the items in the tuple. Each element can be obtained by the name of the tuple followed by a square bracket with the index number:

In [17]:
tuple1 = ("rice",56,60.7,"lion")
tuple1

('rice', 56, 60.7, 'lion')

In [18]:
type(tuple1)

tuple

In [21]:
# print the variable on each index
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])
print(tuple1[3])

rice
56
60.7
lion

In [25]:
print(type(tuple1[3]))

<class 'str'>

In [26]:
print(type(tuple1[2]))

<class 'float'>

In [28]:
# Use negative index to get the value of the last element
tuple1[-1]

'lion'

In [30]:
# Use negative index to get the value of the second last element
tuple1[-2]

60.7

### Concatenate tuple

We can concatenate or combine tuples by using the **+** sign:

In [31]:
# Concatenate two tuples
tuple2= tuple1 + ("pump",100,0.78)
tuple2

('rice', 56, 60.7, 'lion', 'pump', 100, 0.78)

We can slice tuples obtaining multiple values as demonstrated by the figure below:

In [34]:
tuple2[0:2]

('rice', 56)

In [36]:
tuple2[3:4]

('lion',)

In [37]:
# Get the length of tuple
len(tuple2)

7

### Sorting

In [42]:
numbers = (10,45,65,78,23,90,35,89)

# Sort the tuple
sortednumbers= sorted(numbers)
sortednumbers

[10, 23, 35, 45, 65, 78, 89, 90]

### Nested Tuple

A tuple can contain another tuple as well as other more complex data types. This process is called 'nesting'. Consider the following tuple with several elements:

In [43]:
# Craete a Nest Tuple
nest=(5,(5,7),'water','ice',(8,11))
nest

(5, (5, 7), 'water', 'ice', (8, 11))

In [44]:
nest[1]

(5, 7)

In [45]:
nest[2][4]

'r'

In [50]:
nest[1][1]

7

In [52]:
tuple3= ('river','sea','ocean','atlantic')
tuple3

('river', 'sea', 'ocean', 'atlantic')

In [53]:
tuple3[1][1]

'e'

In [61]:
tuple3[0][0]

'r'

In [62]:
tuple4=('fire',('lighter',56),45,67)
tuple4

('fire', ('lighter', 56), 45, 67)

In [63]:
tuple4[0][3]

'e'

In [67]:
tuple4[1][0][1]

'i'