# String Operations

#### What are strings ?

In [1]:
# Use the Quotation marks for defining string  
"Ziaul Haque"

'Ziaul Haque'

We can also use single quotation marks

In [2]:
'Ziaul Haque'

'Ziaul Haque'

A string can be combination of spaces and digits

In [3]:
"1 4 4 2 5 7 0"

'1 4 4 2 5 7 0'

A string can also be combination of special characters

In [4]:
'@*$@%^&?~_7$'

'@*$@%^&?~_7$'

We can print our string using print statement

In [5]:
# Print the string 
print('ziaul haque')

ziaul haque

We can bind or assign a string to another variable

In [7]:
# Assign string to variable 
Name='Ziaul Haque'
Name

'Ziaul Haque'

## Indexing

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers:

# Name = Z i a u l   H a q u e
#        0 1 2 3 4 5 6 7 8 9 10

# print the first element in string
print(Name[0])

In [17]:
Name[6]

'H'

In [18]:
Name[1]

'i'

In [19]:
Name[2]

'a'

In [21]:
Name[5]

' '

### Negative Indexing

In [23]:
Name[-1]

'e'

In [24]:
Name[-5]

'H'

In [25]:
# Find length of the string
len(Name)

11

### Slicing

We can obtain multiple characters from a string using slicing, we can obtain the 0 to 4th and 8th to the 12th element:

In [31]:
# Name = Z i a u l   H a q u e
#        0 1 2 3 4 5 6 7 8 9 10

Name[0:4]

'Ziau'

In [32]:
Name[5:9]

' Haq'

## Stride

We can also  input a stride value as follows, with the '2' indicating that we are selecting every second variable:

In [34]:
Name[::2]

'ZalHqe'

In [36]:
Name[::3] # every 3rd variable

'ZuHu'

We can also incorporate slicing  with the stride. In this case, we select the first five elements and then use the stride:

In [38]:
# Get every second element in the range from index 0 to index 4

Name[0:5:2]

'Zal'

### Concatenate Strings

We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both:

In [43]:
# Concatenate two strings
statement= Name +  "lives in bihar"
statement

'Ziaul Haquelives in bihar'

In [44]:
# Print the strings for three times
4*Name

'Ziaul HaqueZiaul HaqueZiaul HaqueZiaul Haque'

### Escape Sequences

Back slashes represent the beginning  of escape sequences. Escape sequences represent strings that may be difficult to input. For example, back slash "n" represents a new line. The output is given by a new line after the back slash "n" is encountered:

In [45]:
# New line escape sequence 
print('Ziaul Haque \n lives in Bihar')

Ziaul Haque
 lives in Bihar

Similarly, back slash  "t" represents a tab:

# Tab escape sequence
print('Ziaul Haque \t lives in Bihar')

If you want to place a back slash in your string, use a double back slash:

In [52]:
print('Ziaul Haque \\ lives in Bihar')

Ziaul Haque \ lives in Bihar

### String Operations

There are many string operation methods in Python that can be used to manipulate the data. We are going to use some basic string operations on the data.

Let's try with the method <code>upper</code>; this method converts lower case characters to upper case characters:

In [58]:
a='ziaul haque lives in Bihar'
print('before upper:',a)
b=a.upper()
print('After upper:',b)

before upper: ziaul haque lives in Bihar
After upper: ZIAUL HAQUE LIVES IN BIHAR

The method <code>replace</code> replaces a segment of the string, i.e. a substring  with a new string. We input the part of the string we would like to change. The second argument is what we would like to exchange the segment with, and the result is a new string with the segment changed:

In [63]:
# Replace the old substring with the new target substring is the segment has been found in the string

x= 'Ziaul Haque lives in Bihar'
y=x.replace('Ziaul Haque','Ajay Devgan')
y

'Ajay Devgan lives in Bihar'

The method <code>find</code> finds a sub-string. The argument is the substring you would like to find, and the output is the first index of the sequence. We can find the sub-string <code>jack</code> or <code>el<code>.

In [66]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output
Name= 'Ziaul Haque'
Name.find('qu')

8

In [67]:
Name.find('Haque')

6

If the  sub-string is not in the string then the output is a negative one. For example, the string 'Jasdfasdasdf' is not a substring:

In [68]:
Name.find('gf')

-1

### Quiz on String

In [73]:
# Write your code below 
x ='55'

In [74]:
y = "30"

In [76]:
z= x + y
z

'5530'

In [77]:
m= 'fghtyrut'

In [83]:
print(m[0:5])

fghty

Use a stride value of 2 to print out every second character of the string <code>e</code>:

In [86]:
y= 'Uttar pradesh'
print(y[::2])

Utrpaeh